body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #1b1c1d;
    font-size: 40px;
}

input {
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #2a0f42;
    background-color: #ece6f3;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #a63ae6;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #c263f9;
}