body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
}

#textoMostrado {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.excedido {
    background-color: pink;
}